<fieldset style="width: 75%">
  <label>Filter prefix:</label>&nbsp;
  <input [formControl]="myControl" />
  <br />
  <table>
    <thead>
      <th>Name</th>
      <th>Surname</th>
    </thead>
    <tbody>
      <tr *ngFor="let person of filteredOptions | async; let i = index" (click)="rowClick(i)">
        <td>{{ person.name }}</td>
        <td>{{ person.lastname }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div style="width: 25%">
    <label for="name">Name:</label>&nbsp;<input
      style="width: 100px"
      id="name"
      [(ngModel)]="name"
    />
  </div>
  <div style="width: 25%">
    <label for="lastName">Surname:</label>&nbsp;<input
      style="width: 100px"
      id="lastname"
      [(ngModel)]="lastname"
    />
  </div>
  <button (click)="createPerson(name, lastname)">Create</button>
  <button (click)="updatePerson(name, lastname, personIndex)">Update</button>
  <button (click)="deletePerson(personIndex)">Delete</button>
</fieldset>
